body {
    font-family: 'Cherry Bomb One', cursive;
    background-color: #f0f8ff;
    color: #004080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#timer {
    font-size: 60px;
    margin-bottom: 20px;
}

#controls button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#progress-bar-container {
    width: 80%;
    height: 10px;
    background: #d3d3d3;
    margin-top: 20px;
    border-radius: 5px;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #004080;
    border-radius: 5px;
}